html, body {
    margin: 0;
    padding: 0;
    background: url('./background.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 40vw;
}

h1, p{
    color: aliceblue;
}